{
  admin off
}
{$PUBLIC_HOST} {
  header Strict-Transport-Security "max-age=86400"
  header X-Robots-Tag "noindex, nofollow"
  request_body {
    max_size 256KB
  }
  @api path /api/v1/* /auth/*
  handle @api {
    reverse_proxy api:8080
  }
  handle {
    reverse_proxy web:8080
  }
}
